.w-md-editor.w-md-editor-show-edit,
.w-md-editor.w-md-editor-show-preview,
.w-md-editor.w-md-editor-show-live {
  box-shadow: none;
  font-size: 12px;
}

.w-md-editor .w-md-editor-toolbar {
  background-color: #f7f7f7;
  border-bottom: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.w-md-editor .w-md-editor-toolbar ul {
  display: flex;
  gap: 10px;
}

.w-md-editor .w-md-editor-toolbar ul li button:hover {
  color: #4cbfa4;
}

.w-md-editor .w-md-editor-toolbar ul li.active > button {
  color: #4cbfa4;
}

.w-md-editor .w-md-editor-content {
  margin-top: 30px;
}

.w-md-editor .w-md-editor-toolbar-divider {
  display: none;
}

.w-md-editor .w-md-editor-bar {
  display: none;
}

.w-md-editor-text-pre,
.w-md-editor-text-input,
.w-md-editor-text > .w-md-editor-text-pre {
  font-family: inherit !important;
}

.w-md-editor-text-pre .code-line {
  display: block;
}

@media screen and (max-width: 700px) {
  .w-md-editor .w-md-editor-toolbar {
    display: grid;
    justify-items: center;
    height: 60px;
  }
  .w-md-editor .w-md-editor-toolbar li:nth-last-child(6) {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .w-md-editor .w-md-editor-toolbar {
    background-color: #fff;
  }
  .w-md-editor .w-md-editor-toolbar li:nth-last-child(6),
  .w-md-editor .w-md-editor-toolbar li:nth-last-child(7) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .wmde-markdown.wmde-markdown-color {
    padding-bottom: 50px;
  }
}
