@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-btn-active {
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.25);
  }

  .centerOfScreen {
    @apply flex min-h-screen items-center justify-center
  }

  .label {
    @apply text-md-regular text-grayscale-500
  }

  .input {
    @apply h-[45px] rounded-xl bg-grayscale-100 px-5 py-3.5 placeholder:text-md-regular;
  }
  
  .input:focus {
    @apply outline-none ring-2 ring-primary-green-200 bg-white
  }

  .errorMessage {
    @apply text-xs-regular text-secondary-red-200
  }
}
